:root {
  --black: #44468A;
  --beige: #e1d5c7;
  --grey: #F9EDF0;
  --white: #fff;
  --green: #44468A;
  --shadow:#A36A58;
}

@font-face {
  font-family: "Urbanist", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap");
}

@font-face {
  font-family: "Urbanist", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Raleway&family=Reem+Kufi+Fun:wght@700&family=Urbanist:wght@600&display=swap");
}

@font-face {
  font-family: "Playfair Display SC", serif;
  src: url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
}

@font-face {
  font-family: "Playfair Display", serif;
  src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}




html {
  margin: auto;
}

body {
  color: var(--black);
  margin: auto;
  min-height: 100dvh;
}

a:hover {
  text-decoration: 1px underline;
  transition: 200s;
}

a:active,
a:focus {
  color: #706e6f;
}
.italic {
  font-style: italic;
  letter-spacing: -5px;
  font-weight: 100;


}
.italic-no-color {
  font-style: italic;

}
.color-gray {
  color: #807771;
}

li{
  list-style-type: none;
  padding-bottom: 1rem;
}
ul{
  padding: 1rem;
  padding-top: 0rem;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}
label{
  margin: 0rem;

}
h1{
  justify-self: center;
  align-self: center;
  margin-top: 1.5rem;
}

/* Fonts */
p,
a,
h3 {
  font-family: "Urbanist", sans-serif;
  color: var(--black);
  text-decoration: none;
  text-align: justify;
}


h2 {
  font-family: "Playfair Display SC", serif;
  font-weight: 600;
  font-size: 24px;
  text-align: left;
}
.titel-contact,
h3 {
  text-align: left;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  font: 24px;
  color: #714A3D;
  margin-top:0.5rem;
}
h1,
h4{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size:24px;
  margin:0;
  margin-bottom: 0.5rem;

}
h5{
  color: var(--beige);
  font-family: "Playfair Display", serif;
  font-size: 28px;
  margin-top:1rem;
  margin-bottom: 0rem;
  justify-content: center;
  align-content: center;
  justify-self: center;
  align-self: center;
  text-shadow: #231F20 2px 2px;
  
}

h6{
  font-family: 'montserrat', sans-serif;
  color: var(--black);
  margin:0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 4px;
}
h7{
  font-size: 24px;
  font-family: 'poppins', sans-serif;
  color: var(--black);
  margin-left: 1rem;
  margin-top: 1rem;
  letter-spacing: 1px;
}
button{
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  border: 1px solid var(--black);
  background-color: var(--white);
  padding: 0.6rem;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;

}

#nameError,
#emailError,
#subjectError,
#messageError {
  color: red;
}


/* Menu bar */

.logo-img {
  position: absolute;
  top: 0.2rem;
  width: 75px;
  align-self:center;
  padding-bottom: 0.4rem;
  z-index: 1;
}

.hamburger {
  color: var(--beige);
  align-self: flex-end;
  padding: 1rem;
  margin: 0;
  z-index: 2;
}

.menu-link {
  font-family: "Urbanist", sans-serif;
  padding-top: 4rem;
  padding: 1rem;
  font-size: 18px;
  font-weight: 500;
  transition: transform 0.3s ease-in-out;
  color: var(--beige);
}

.top-menu {
  display: none;
}

@media screen and (min-width: 1099px) {
  .top-menu {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin-top: 0.5rem;
    margin-right: 2rem;
  }

  .hamburger {
    display: none;
  }
}

.menu {
  display: none;
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: var(--black);
  padding: 2rem;
  margin-top: 0rem;
  padding-top: 4rem;
}


header {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--beige);
  position: relative;
  height: 60px;
  z-index: 2;
  width: 100%;
}

.header-index {
  background-color: transparent;
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
}

/* Home page */


.home-page-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
}

.home-page-introduction-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  justify-content:flex-start;
}
.about-us-main-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 600px;
  align-content: center;
  justify-content:flex-start;
}

.white-card{
  padding:1rem;
  background-color: white;
  margin-top: 1rem;
  box-shadow: 0px 2px 6px 0px var(--shadow);
}


.main-img {
  object-fit: cover;
  max-width: 100%;
  min-height: 60vh;
  animation: slideIn 2s;

}

.header-about-us-hero{
  font-size: 42px;
  font-family: "Playfair Display SC", serif;
  color: var(--black);
  line-height: 0.9;
  text-align:center;
  font-weight: 400;
  margin:1rem;
  margin-bottom: 1.5rem;
 


}

@media screen and (min-width: 1016px) {
  .main-img-div {
    padding-top: 0rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@media screen and (min-width: 680px) {
  .text-overlay {
    top: 60%;
    font-size: 42px;
  }
}

@media screen and (min-width: 880px) {
  .text-overlay {
    top: 60%;
    font-size: 52px;
    width: 800px;
  }
}

/* Footer*/

footer {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: var(--beige);

}

.logo-footer {
  width: 100px;
  padding: 2rem;
  align-self: center;
}
.coptrights,
.link-footer {
  align-self: center;
  padding: 0.5rem;
  font-size: 12px;
  color: var(--beige);
}

.coptrights {
  font-size: 10px;
  padding-top: 2rem;
  color: var(--beige);
}


/* Blog Page*/

.main-blog-page {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 600px) {
  .blog-page-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 600px;
    justify-self: center;
  }
  .blog-specific-page-container {
    max-width: 600px;
    justify-self: center;
  }
}

div.product > * {
  min-width: 100vp;
  display: flex;
  flex-direction: column;
}

.product {
  display: flex;
  flex-direction: column;
}

#load-more {
  text-decoration: underline;
  font-weight: bold;
  border: none;
  font-family: "Urbanist";
  padding: 1rem;
  background-color: transparent;
  color: var(--black);
}




/* About us styling */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.italic-content{
  margin-top: 1rem;
}

.content-main{
  margin:1rem;
  text-align: center;
}

.about-us-image-peacock,
.about-us-image-right,
.about-us-image {
  align-self: center;
  max-width: 100%;
  object-fit: cover;
  border-radius: 3px;
  margin-bottom: 1rem;
}
.about-us-image-peacock{
  border-radius: 0px;
 
}


.about-us-image-right{
  max-width: 100%;
  margin-left: 1rem;
 align-self: flex-start;
 justify-self: right;
 margin:0;
}

.icon-wrap-cointainer{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;

}
.icon-wrap{
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  margin-bottom: 0.5rem;
  border-bottom: #714A3D 1px dashed ;
}

.icon-text-contact,
.icon-text-indicator,
.icon-text{
  font-family: "poppins", sans-serif;
  font-size: 14px;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  font-weight: 600;
  letter-spacing: 4px;
  color: var(--green)
  
}
.icon-text-contact{

  letter-spacing: 0px;
  margin-left: 0.5rem;
  text-decoration: none;
}

.icon-text-indicator{
  margin-left: 0;
  padding-right: 1rem;
  color: #714A3D;
  font-size: 12px;
  letter-spacing: 2px;

}
.service-travel-container,
.service-spa-container,
.service-surfing-container{
  display: flex;
  flex-direction: column;
  background-image: url("../img/ceylons-house-surfing.png");
  background-size: cover;
  margin: 0;
  max-width: 600px;

 
}
.service-spa-container{
  background-image: url("../img/ceylons-house-spa.png");

}
.service-travel-container{
  background-image: url("../img/ceylons-house-tok-tok.png");
}

.contact-us-container{
  background-image: url("../img/basen-jungle.png");
 
}

.card-package{
  display:flex;
  flex-direction: column;
  background-color: #E1D5C7;
  margin: 2rem;
  box-shadow: 0 4px 8px var(--shadow);
  border-radius: 3px;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.content-card-package{
  font-family: "poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--black);
  margin-top: 0;
  padding: 1rem;
  text-align: center;
  
}
.card-package-price{
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  margin-top: 0;
  padding: 1rem;
  padding-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top: 1px dotted var(--shadow);
  width: 100%;
  text-align: center;
}

/* Food menu*/

.price,
.description,
.menu-item{
  font-family: "poppins", sans-serif;
}

.menu-item{
  padding-top: 1rem;
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  margin-top: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px dotted #714A3D;
  width: 100%;
  text-align: left;
}

.description{
  font-size: 12px;
  font-weight: 400;
  color: var(--black);
  margin-top: 0;
  text-align: left;
  padding-bottom: 1rem;
}
.price{
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  margin-top: 0;
  padding: 1rem;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .content-about-us {
    font-size: 20px;
  }
}

/* Contact page */

.map {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.menu-section,
.contact-container{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  align-self:center;
  padding: 1rem;
  width: 100%;

}
.contact-container{
  margin-top: 0em;
  padding-top: 0em;

}
.contact-info{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background-color:white;
  box-shadow: 0 4px 8px #714A3D;

  
}



/* Baner */
.consent-banner {
  font-family: 'poppins', sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--beige);
  color: var(--black);
  text-align: center;
  padding: 10px;
  display: none;
  z-index: 1000;
}
.consent-banner button {
  background-color: var(--black);
  border: none;
  color: white;
  padding: 8px 16px;
  margin: 5px;
}
.consent-banner button:hover {
  background-color: var(--beige);
  color: var(--black);
}

.luxury-bar-section{
  background-color: #714A3D;
  
}
.beige{
  color: #E1D5C7;
}

.menu-section{
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.m-1{
  margin-top: 1.5rem;
}

/*Carusele*/


.carousel {
  position: relative;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
  background: var(--beige);
  margin-bottom: 1rem;
  
}

.carousel-images {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.carousel-slide {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-slide img {
  width: 100%;
  display: block;
}


@keyframes moveRight {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(30%);
  }
}

.lined-icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}



.icon-text-property{
  font-family:"montserrat", sans-serif;
  color: var(--green);
  margin: 0rem;
  border-bottom: var(--beige) 1px dashed;
  width: 100%;
  text-align: center;
  font-size: 12px;
letter-spacing: 1px;
}


.material-symbols-outlined {
  padding-top: 0.3rem;
  color: var(--beige);
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 40;
  font-size: 40px;
}


.material-symbols-rounded {
  color: var(--black);
  padding: 1rem;
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 40;
  font-size: 40px;
}

.content-main,
.content {
  font-family: "Poppins", urbanist;
  font-size: 12px;
  font-weight: 400;
  animation: fadeIn 2s;
  text-align: left;
  color: var(--black);
  margin-top: 0;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 40
}

