:root{
    --black:#30302F;
    --orange:#FFA800;
    --light-beige:#F1E7D7;
    --white:#FFF;
}

@font-face {
    font-family:libre-franklin-regular;
    src: url(fonts/libre-franklin-regular);
}
html{
    margin: auto;
}
.logo-white{
    width: 170px;
    margin-left: -1rem;
}


.model-food{
    display: flex;
    width: 200px;
}

body{
    background-image: url('../images/main-img.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
    height: 500px;
    
}

.header{
   
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    
}

nav{
    display: none;
    
}

.book-now-btn{
    
    width: 120px;
    height: 50px;
    border: solid var(--white) 0.5px;
    background-color: transparent;
    color: var(--white);
    align-self: center;
    margin-top: -3rem;

}

#menu-bar{
    
    color: var(--white);
    justify-self: center;
    align-self: center;
    margin-top: -3rem;
    

   

    
}
