:root{
    --black:#30302F;
    --orange:#FFA800;
    --light-beige:#F1E7D7;
    --white:#FFF;
}

html{
    margin: auto;
}
.logo-white{
    display: flex;
    width: 200px;
}


.model-food{
    display: flex;
    width: 200px;
}

body{
    background-image: url('../images/main-img.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
    height: 500px;
    
}
